<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>swaply</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key><string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key><string>$(FLUTTER_BUILD_NUMBER)</string>

	<!-- Deep Links / Custom Schemes (淇濇寔鍘熼」鐩? -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swaply</string>
				<string>cc.swaply.app</string>
			</array>
		</dict>
	</array>

	<!-- 鍏佽璺宠浆鍒?FB 绛夛紙淇濇寔鍘熼」鐩級 -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fb-messenger-share-api</string>
		<string>facebook</string>
		<string>tel</string>
		<string>mailto</string>
	</array>

	<!-- Flutter -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<!-- Impeller off (鍚屾棫椤圭洰) -->
	<key>FLTEnableImpeller</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>Allow access to your photo library so you can pick photos for your listings and profile.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Allow saving photos or videos created in the app to your library (e.g. edited listing media).</string>
    <key>NSCameraUsageDescription</key>
    <string>Allow using the camera to take photos/videos of items you want to sell.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow recording audio when capturing videos for your listings.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow location access to show nearby listings and services.</string>
</dict>
</plist>
